body{
	background-color:#f8f8f8;
}
.book-library,h2{
	text-align:center;
}
.divider{
	background-color:"#ffffff";
	/* display: block; */
    border-top: 20px solid #fff;
	margin-bottom:10px;
}
.para{
	font-size:20px;
	font-weight:bold;
	color:black;
}
.btn{
	background-color:#2FCC71;
	padding:10px;
	text-align:center;
	border-radius:5px;
	color:#fff;
}
